{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">Student Register Form</div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-upazilla-url="{% url 'load-upazilla' %}">
        <div class="academic_info">
          <div class="card">
            <div class="card-header">Academic Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ academic_info_form.as_p }}
            </div>
          </div>

        </div>

        <div class="personal_info">
          <div class="card">
            <div class="card-header">Personal Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ personal_info_form.as_p }}
            </div>
          </div>

        </div>

        <div class="address_info">
          <div class="card">
            <div class="card-header">Address Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ student_address_info_form.as_p }}
            </div>
          </div>

        </div>

        <div class="guardian_info">
          <div class="card">
            <div class="card-header">Guardian Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ guardian_info_form.as_p }}
            </div>
          </div>

        </div>

        <div class="emergency_contact_info">
          <div class="card">
            <div class="card-header">In Case Of Emergency Contact Details</div>
            <div class="card-body">
              {% csrf_token %}
              {{ emergency_contact_details_form.as_p }}
            </div>
          </div>

        </div>

        <div class="previous_academic_info">
          <div class="card">
            <div class="card-header">Previous Academic Information</div>
            <div class="card-body">
              {% csrf_token %}
              {{ previous_academic_info_form.as_p }}
            </div>
          </div>

        </div>

        <div class="previous_academic_certificate">
          <div class="card">
            <div class="card-header">Previous Academic Certificate</div>
            <div class="card-body">
              {% csrf_token %}
              {{ previous_academic_certificate_form.as_p }}
            </div>
          </div>
          <button id="submit" type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>

      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--       src="{% static 'src/js/registration.js' %}"-->
<!--   <script>// form visible
$('#academic_info_btn').on('click', function(){
  $('.academic_info').show();
  $('.personal_info').show();
});

// Presonal Information
$('#personal_info_btn').on('click', function(){
  $('.personal_info').show();
  $('.address_info').show();
});

$('#personal_info_prev_btn').on('click', function(){
  $('.personal_info').show();
  $('.academic_info').show();
});

// Address Information
$('#address_info_btn').on('click', function(){
  $('.address_info').show();
  $('.guardian_info').show();
});

$('#address_info_prev_btn').on('click', function(){
  $('.address_info').show();
  $('.personal_info').show();
});

// Guardian Information
$('#guardian_info_btn').on('click', function(){
  $('.guardian_info').show();
  $('.emergency_contact_info').show();
});

$('#guardian_info_prev_btn').on('click', function(){
  $('.guardian_info').show();
  $('.address_info').show();
});

// Emergency Contact Information
$('#emergency_contact_info_btn').on('click', function(){
  $('.emergency_contact_info').show();
  $('.previous_academic_info').show();
});

$('#emergency_contact_info_prev_btn').on('click', function(){
  $('.emergency_contact_info').show();
  $('.guardian_info').show();
});

// Previous Academic Information
$('#previous_academic_info_btn').on('click', function(){
  $('.previous_academic_info').show();
  $('.previous_academic_certificate').show();
  $('#submit').show();
});

$('#previous_academic_info_prev_btn').on('click', function(){
  $('.previous_academic_info').show();
  $('.emergency_contact_info').show();
});

// Previous Academic Certificate Information
$('#previous_academic_certificate_prev_btn').on('click', function(){
  $('.previous_academic_certificate').show();
  $('.previous_academic_info').show();
});
</script>   -->
<!--       src="{% static 'src/js/address.js' %}"-->
      <script>$("#id_district").change(function () {
  var url = $("#StudentRegistrationForm").attr("data-upazilla-url");
  var districtId = $(this).val();

  $.ajax({
    url: url,
    data: {
      'district': districtId
    },
    success: function (data) {
      $("#id_upazilla").html(data);
    }
  });

});
$("#id_upazilla").change(function () {
  var url = $("#StudentRegistrationForm").attr("data-upazilla-url");
  var upazillaId = $(this).val();

  $.ajax({
    url: url,
    data: {
      'upazilla': upazillaId
    },
    success: function (data) {
      $("#id_union").html(data);
    }
  });

});
</script>
    </div>
  </div>
{% endblock %}
