<!DOCTYPE html>
<html lang="en">

<!--Headers-->
{% include 'base/header.html' %}
{% load static %}

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden "
      style="background-image:url(/static/440px-Jamia_Hamdard_Logo.svg.png);background-repeat:no-repeat;background-position:center">
<!--Navbar-->
{% include 'base/navbar.html' %}

<div class="app-body">
    <!--Sidebar-->
    {% include 'base/sidebar.html' %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        {% include 'base/breadcrumb.html' %}

        <!-- Page contents -->
        <div class="container">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>


    <!--Aside bar-->
    {% include 'base/asidebar.html' %}

</div>

<!--Footer-->
{% include 'base/footer.html' %}

<!--JS-->
{% include 'base/js.html' %}

</body>
</html>
